<!DOCTYPE html>
<html lang="en">
{% extends "index.jinja2" %}
{% block body %}
	<div class="container">
			<h1>ABOUT</h1>
			<h3>Made by:</h3>
			<ul>
				<li>Amandusia Chmieluk</li>
				<li>David Kogut</li>
				<li>Marko Kalic</li>
				<li>Riley Draward</li>
				<li>Rong Wu</li>
				<li>Tiago Araujo</li>
			</ul>
			<hr>
			<h3>With help from:</h3>
			<ul>
				<li>Pyramid</li>
				<li>Bootstrap</li>
				<li>jinja2</li>
				<li>Amazon Web Services</li>
			</ul>
		</div><!-- container -->
{% endblock body %}
