<!DOCTYPE html>
<html lang="en">
{% extends "index.jinja2" %}
{% block body %}
	<div class="container">
			<h1>ABOUT</h1>
			<h3>Made by:</h3>
			<li>Amandusia Chmieluk
			<li>David Kogut
			<li>Marko Kalic
			<li>Riley Draward
			<li>Rong Wu
			<li>Tiago Araujo
			<br><hr>
			<h3>With help from:</h3>
			<li>Pyramid
			<li>Bootstrap
			<li>jinja2
			<li>Amazon Web Services
		</div><!-- container -->
{% endblock body %}
