<!DOCTYPE html>
<html lang="en">
{% extends "index.jinja2" %}
{% block body %}
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#stats" data-toggle="tab">Statistics</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Change Menu<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#addItem" data-toggle="tab">Add Menu Item</a></li>
				<li><a href="#editItem" data-toggle="tab">Edit Menu Item</a></li>
			</ul>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="stats">
			<p>Statistics go here.</p>
		</div> <!-- tab-pane stats -->
		<div class="tab-pane" id="addItem">
			<form method="POST" action="add_menu_item">
				<fieldset>
					<legend>Add Menu Item</legend>
						<label>Item Name</label>
						<input name="itemName" type="text" placeholder="...">
						<div class="control-group">
							<label class="control-label">Category</label>
							<div class="controls">
								<select>
									<option value="Appetizers">Appetizers</option>
									<option value="Entrees">Entrees</option>
									<option value="Dessert">Dessert</option>
								</select>
							</div> <!-- controls -->
						</div> <!-- control-group -->
						<label>Description</label>
						<input name="desc" type="text" placeholder="...">
						<label>Price</label>
						<input name="price" type="text" placeholder="xx.xx">
						<label class="checkbox">
							<input type="checkbox" class="vegetarian" id="vegetarian">Vegetarian
						</label>
						<button type="submit" class="btn">Submit</button>  
				</fieldset>
			</form>
		</div> <!-- tab-pane addItem -->
	<div class="tab-pane" id="editItem">
	  <p>Edit item here</p>
	</div> <!-- tab-pane editItem -->
</div> <!-- tabbable tabs-left -->
{% endblock body %}
