<!DOCTYPE html>
<html lang="en">
{% extends "index.jinja2" %}
{% block body %}
<header class="subhead">
	<div class="container">
		<h1>Administration</h1>
	</div>
</header>

<div class="tabbable tabs-left" style="padding-top:10px">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#stats" data-toggle="tab">Statistics</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Change Menu<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#addItem" data-toggle="tab">Add Menu Item</a></li>
				<li><a href="#editItem" data-toggle="tab">Edit Menu Item</a></li>
			</ul>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="stats">
			<p>Statistics go here.</p>
		</div> <!-- tab-pane stats -->
		<div class="tab-pane" id="addItem">
			<form method="POST" action="add_menu_item" id="addForm" class="form-horizontal">
				<fieldset>
					<legend>Add Menu Item</legend>
						<div class="control-group">
							<label class="control-label" for="itemName">Item Name</label>
							<div class="controls">
								<input id="itemName"  name="itemName" type="text" placeholder="Item Name">
							</div> <!-- controls itemName -->
						</div> <!-- control-group -->
						<div class="control-group">
							<label class="control-label" for="category">Category</label>
							<div class="controls">
								<select id="category" name="category">
									{% for category in menuCategories %}
									<option value={{category.catID}}>{{category.name}}</option>
									{% endfor %}
								</select>
							</div> <!-- controls category -->
						</div> <!-- control-group -->
						<div class="control-group">
							<label class="control-label" for="desc">Description</label>
							<div class="controls">
								<input id="desc" name="desc" type="text" placeholder="Description">
							</div> <!-- controls desc -->
						</div> <!-- control-group -->
						<div class="control-group">
							<label class="control-label" for="price">Price</label>
							<div class="controls">
								<input id="price" name="price" type="text" placeholder="00.00">
							</div> <!-- controls price -->
						</div> <!-- control-group -->
						<div class="control-group">
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" name="vegetarian" class="vegetarian" id="vegetarian">Vegetarian
								</label>
								<button type="button" id="submitBtn" name="submitBtn" class="btn" disabled="true">Submit</button>
							</div> <!-- controls vegetarian -->
						</div> <!-- control-group -->
						<div class="control-group">
							<label id="result" name="result"></label>
						</div> <!-- control-group -->
				</fieldset>
			</form>
		</div> <!-- tab-pane addItem -->
	<div class="tab-pane" id="editItem">
		<form id="editForm" class="form-horizontal">
			<fieldset>
				<legend>Edit Menu Item</legend>
					<div class="control-group">
						<label class="control-label" for="menuItems">Menu Item</label>
						<div class="controls">
							<input id="prevName" type="text" list="menuItems">
								<datalist id="menuItems">
									{% for item in menuItems %}
									<option>{{item.name}}</option>
									{% endfor %}
								</datalist>
						</div> <!-- controls menuItems -->
					</div> <!-- control-group -->
					<div class="control-group">
						<label class="control-label" for="itemName">Item Name</label>
						<div class="controls">
							<input id="itemName"  name="itemName" type="text" placeholder="Item Name">
						</div> <!-- controls itemName -->
					</div> <!-- control-group -->
					<div class="control-group">
						<label class="control-label" for="category">Category</label>
						<div class="controls">
							<select id="category" name="category">
								{% for category in menuCategories %}
								<option value={{category.catID}}>{{category.name}}</option>
								{% endfor %}
							</select>
						</div> <!-- controls category -->
					</div> <!-- control-group -->
					<div class="control-group">
						<label class="control-label" for="desc">Description</label>
						<div class="controls">
							<input id="desc" name="desc" type="text" placeholder="Description">
						</div> <!-- controls desc -->
					</div> <!-- control-group -->
					<div class="control-group">
						<label class="control-label" for="price">Price</label>
						<div class="controls">
							<input id="price" name="price" type="text" placeholder="00.00">
						</div> <!-- controls price -->
					</div> <!-- control-group -->
					<div class="control-group">
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="vegetarian" class="vegetarian" id="vegetarian">Vegetarian
							</label>
							<button type="button" id="submitBtn" class="btn" disabled="true" name="submitBtn">Submit</button>
						</div> <!-- control vegetarian -->
					</div> <!-- control-group -->
					<div class="control-group">
						<label id="result" name="result"></label>
					</div> <!-- control-group -->
			</fieldset>
		</form>
	</div> <!-- tab-pane editItem -->
</div> <!-- tabbable tabs-left -->

<script type="text/javascript">
var intRegex = /^\d+\.\d{2}$/;

$('#addForm input[name="itemName"], #editForm input[name="itemName"]').bind('change keyup', function() {
	testIfCanSubmit();
});

$('#addForm input[name="price"]').bind('change keyup', function() {
	if(intRegex.test($('#addForm input[name="price"]').val()))
		testIfCanSubmit();
	else
		$('#addForm :button').attr("disabled", true);
});

$('#editForm input[name="price"]').bind('change keyup', function() {
	if(intRegex.test($('#editForm input[name="price"]').val()))
		testIfCanSubmit();
	else
		$('#editForm :button').attr("disabled", true);
});

$('#addForm input[name="desc"], #editForm input[name="desc"]').bind('change keyup', function() {
	testIfCanSubmit();
});

$('#prevName').keyup(function(e) {
	if(e.keyCode == 13)
		$(this).trigger("fillData");
});

$('#prevName').bind("change fillData", function() {
	var itemName = JSON.stringify({'name':$('#prevName').val()});
	$.post('/getMenuItem.json', itemName, function(data) {
		$.each(data, function (key, value) {
			if(key == 'name')
				$('#editForm input[name="itemName"]').val(value);
			else if(key == 'price')
				$('#editForm input[name="price"]').val(value);
			else if(key == 'description')
				$('#editForm input[name="desc"]').val(value);
			else if(key == 'category')
				$('#editForm select[name="category"]').val(value);
			else if(key == 'isVeg')
				$('#editForm input[name="vegetarian"]').prop('checked', value);
			else if(key == 'isSuccess' && !value)
				$('#editForm label[name="result"]').text("Error: \"" + $('#prevName').val() + "\" does not exist");
			testIfCanSubmit();
		});
	}, "json");
});

$('#addForm button[name="submitBtn"]').click(function() {
	var itemName = JSON.stringify({'name': $('#addForm input[name="itemName"]').val(), 'category': $('#addForm select[name="category"]').val(), 'description': $('#addForm input[name="desc"]').val(), 'price': $('#addForm input[name="price"]').val(), 'isVeg': $('#addForm input[name="vegetarian"]').prop('checked'), 'image': ''});
	$.post('/addMenuItem.json', itemName, function(data) {
		$.each(data, function (key, value) {
			if (key == 'isSuccess' && value) {
				$('#addForm label[name="result"]').text("Successfully added item \"" + $('#addForm input[name="itemName"]').val() + "\"");
				clearAddForm();
			}
		});
	}, "json");
});

$('#editForm button[name="submitBtn"]').click(function() {
	var itemName = JSON.stringify({'prevItemName': $('#prevName').val(), 'name': $('#editForm input[name="itemName"]').val(), 'category': $('#editForm select[name="category"]').val(), 'description': $('#editForm input[name="desc"]').val(), 'price': $('#editForm input[name="price"]').val(), 'isVeg': $('#editForm input[name="vegetarian"]').prop('checked'), 'image': ''});
	$.post('/editMenuItem.json', itemName, function(data) {
		$.each(data, function (key, value) {
			if (key == 'isSuccess') {
				if (value) {
					$('#editForm label[name="result"]').text("Successfully modified item \"" + $('#prevName').val() + "\"");
					clearEditForm();
				} else
					$('#editForm label[name="result"]').text("Error: \"" + $('#prevName').val() + "\" does not exist");
			}
		});
	}, "json");
});

function clearEditForm() {
	$('#prevName').val("");
	$('#editForm input[name="itemName"]').val("");
	$('#editForm select[name="itemName"]').val(1);
	$('#editForm input[name="desc"]').val("");
	$('#editForm input[name="price"]').val("");
	$('#editForm input[name="vegetarian"]').prop('checked', 0);
	$('#editForm :button').attr("disabled", true);
}

function clearAddForm() {
	$('#addForm input[name="itemName"]').val("");
	$('#addForm select[name="itemName"]').val(1);
	$('#addForm input[name="desc"]').val("");
	$('#addForm input[name="price"]').val("");
	$('#addForm input[name="vegetarian"]').prop('checked', 0);
	$('#addForm :button').attr("disabled", true);
}

function testIfCanSubmit() {
	if($('#addForm input[name="itemName"]').val() == "" || $('#addForm input[name="price"]').val() == "" || $('#addForm input[name="desc"]').val() == "")
		$('#addForm :button').attr("disabled", true);
	else
		$('#addForm :button').attr("disabled", false);

	if($('#editForm input[name="itemName"]').val() == "" || $('#editForm input[name="price"]').val() == "" || $('#editForm input[name="desc"]').val() == "")
		$('#editForm :button').attr("disabled", true);
	else
		$('#editForm :button').attr("disabled", false);
}
</script>
{% endblock body %}
