<!DOCTYPE html>
<include package="pyramid_jinja2"/>
<html lang="en">
	<head>
                {% block head %}
		<title>4350Proj</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
		<style>
			body {padding-top: 60px;}
		</style>
		<link href="/static/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
                {% endblock head %}
                {% block script %}
                <script src="http://code.jquery.com/jquery.js"></script>
		<script src="/static/bootstrap/docs/assets/js/bootstrap.min.js"></script>
		<script src="static/bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
		<!--
		<script src="/static/bootstrap/docs/assets/js/bootstrap-transition.js"></script>
		<script src="/static/bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
		-->

                {% endblock script %}
	</head>
	<body>
                {% block navbar %}
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">&lt;insert name here&gt; Restaurant Management</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="menu">View the Menu</a></li>
								</ul>
							</li>
							<li><a href="orders">Orders</a></li>
							<li><a href="admin">Admin</a></li>
							<li><a href="about">About</a></li>
						</ul><!-- nav -->
					</div><!-- nav collapse -->
				</div><!-- container -->
			</div><!-- navbar-inner -->
		</div><!-- navbar navbar-fixed-top -->
               	{% endblock navbar %}
		{% block body %}
		<div class="container">
			<h1>&lt;insert name here&gt; Restaurant Management System</h1>
			<p>We might not have a name, but we definitely have the solution for your restaurant!</p>
		</div><!-- container -->
		{% endblock body %}
	</body>
</html>
