<!DOCTYPE html>
<html lang="en">
{% extends "index.jinja2" %}

{% block body %}
<header class="subhead">
  <div class="container">
    <h1>Menu</h1>
    <p class="lead">This is where you create and manipulate items in your menu.</p>
  </div>
</header>

<div class="container">
    <dl>
	<ul>
		{% for item in menuItems %}
        		<dt><h1>{{item.category}}</h1></dt>

        		<dd>		
				<ul>
					<h3>{{item.name}}</h3>
					<h3 class="text-right">$ {{item.price}}</h3>	
				</ul>

				<hr>
        		</dd>
		{% endfor %}
	</ul>
    </dl>   
</div>
{% endblock body %}


