<!DOCTYPE html>
<html lang="en">
{% extends "index.jinja2" %}

{% block body %}
<header class="subhead">
  <div class="container">
    <h1>Menu</h1>
    <p class="lead">This is where you can view your menu.</p>
  </div>
</header>

<div class="container">
	<dl>
		<table class="table">
			{% for category in menuCategories %}
			<tbody>
				<tr>
					<td colspan="2"><h4><dt>{{category.name}}</dt></h4></td>
				</tr>
				{% for item in menuItems if item.category == category.catID %}
				<tr>
					<td><dd>{{item.name}}</dd></td>
					<td>{{"$%.2f"|format(item.price)}}</td>
				</tr>
				{% endfor %}
			</tbody>
			{% endfor %}
		</table>
	</dl>
</div> <!-- container -->
{% endblock body %}
