<!DOCTYPE html>
<html lang="en">
{% extends "index.jinja2" %}

{% block body %}
<div class="container">
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs" id="tableNums">
		</ul>
		<div class="tab-content" id="tableContent">
		</div> <!-- tab-content" -->
	</div> <!-- tabbable tabs-left -->
	<label id="result" name="result"></label>
</div> <!-- container -->

<script src="/static/js/orders.js" type="text/javascript"></script>

{% endblock body %}


