<!DOCTYPE html>
<html lang="en">
{% extends "index.jinja2" %}

{% block body %}
<div class="container">
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#order1" data-toggle="tab">Order 1</a></li>
			<li><a href="#order2" data-toggle="tab">Order 2</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="order1">
				<form>
					<fieldset>
						<legend>Order 1</legend>
						<div class="container-fluid">
							<div class="row-fluid">
								{% for category in ('Appetizers', 'Entrees', 'Dessert') %}
								<div class="span4">
									<dl>
										<dt>{{category}}</dt>
											{% for item in menuItems if item.category == category %}
											<dd>
												<label class="checkbox">
													<input type="checkbox" class="appetizer" id="app1">{{item.name}}
												</label>
											</dd>
											{% endfor %}
									</dl>
								</div> <!-- span4 -->
								{% endfor %}
							</div> <!-- row-fluid -->
							<button type="submit" class="btn">Submit</button>
						</div> <!-- container-fluid -->
					</fieldset>
				</form>
			</div> <!-- order 1 -->
			<div class="tab-pane" id="order2">
				<p>test2</p>
			</div> <!-- order 2 -->
		</div> <!-- tab-content" -->
	</div> <!-- tabbable tabs-left -->
</div> <!-- container -->

<script>
$(function() {
	$(".appetizer").change(function() {
		if ($('.appetizer:checked').length == $('.appetizer').length) {
			$('.entree').attr("disabled", false);

			if ($('.entree:checked').length == $('.entree').length) {
				$('.dessert').attr("disabled", false);
			}
		} else {
			$('.entree').attr("disabled", true);
			$('.dessert').attr("disabled", true);
		}
	});
	$(".entree").change(function() {
		if ($('.entree:checked').length == $('.entree').length) {
			$('.dessert').attr("disabled", false);
		} else {
			$('.dessert').attr("disabled", true);
		}
	});
});
</script>
{% endblock body %}


