{% macro tableTab(table) -%}
  <li><a href="#table{{table}}" data-toggle="tab">Table {{table}}</a></li>
{%- endmacro %}

{% macro tableOrder(table) -%}
  <div class="tab-pane" id="table{{table}}">
    <div class="row-fluid">
      <div class="span4">
        <div class="well" id="group">
          <select id="orderlist{{table}}" style="width:250px" multiple>
            {% for item in menuItems %}
            <option value="{{item.menuID}}">{{item.name}}</option>
            {% endfor %}
          </select>
        </div>
        <button class="btn" id="submit{{table}}" onclick="submitOrder({{table}})"=>Submit</button>
      </div>
    </div>
  </div>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">
{% extends "index.jinja2" %}
{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <p align="right">
      <button class="btn btn-primary btn-large" type="button" id="addTable">+</button>
    </p>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <div class="tabbable tabs-left">
        <ul class="nav nav-pills nav-stacked" id="tableTabs">
        {{ tableTab("1") }}
        {{ tableTab("2") }}
        {{ tableTab("3") }}
        {{ tableTab("4") }}
        </ul>
      </div>
    </div>
    <div class="span10">
      <div class="tab-content" id="tableOrders">
      {{ tableOrder("1") }}
      {{ tableOrder("2") }}
      {{ tableOrder("3") }}
      {{ tableOrder("4") }}
      </div>
    </div>
  </div>
</div>

<script src="/static/js/placeOrder.js" type="text/javascript"></script>

{% endblock body %}
