<!DOCTYPE html>
<html land="en">
{%extends "index.jinja2" %}
{% block body %}

<header class="subhead">
  <div class="container">
     <h1>Point of Sale</h1>
  </div>
</header>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="tabbable tabs-left">
      </br>
      <ul class="nav nav-pills" id="my-tabs">
   	{% for tableNum in tableNums %}
	<li class="active" onclick="displayTableBill({{tableNum}})"><a href="#tableNum{{tableNum}}">Table No.{{tableNum}}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
	<label name="testing" id="testing"></label>	
	{% for tableNum in tableNums %}
	 <form method="POST" id="posForm" class="form-horizontal"> 
	   <div class="tab-pane active" id="tableNum{{tableNum}}" style="display:none">
	     {% for order in orders %}
             {% if order.tableNum is sameas tableNum %}
		<div class="row-fluid">
  	        	<div class="span3" id="bill">
	      			<label class="checkbox">
                			<input type="checkbox" value="" id="order{{order.orderID}}_item{{order.menuItem}}_table{{order.tableNum}}_group{{order.groupNum}}" checked="checked">
		 			{% for menuItem in menuItems %}
						{% if order.menuItem is sameas menuItem.menuID %}
							{{menuItem.name}} - {{menuItem.price}}
						{% endif %}
					{% endfor %}		
              			</label>
			</div>
            		<div class="span3" id="currBill">
              			<label id="order{{order.orderID}}_item{{order.menuItem}}_table{{order.tableNum}}_group{{order.groupNum}}_lb">
                                        {% for menuItem in menuItems %}
                                                {% if order.menuItem is sameas menuItem.menuID %}
                                                        {{menuItem.name}} - {{menuItem.price}}
                                                {% endif %}
                                        {% endfor %}                			
              			</label>
            		</div>
	 	</div>
             {% endif %}
           {% endfor %}
          <div class="row-fluid">
            <button class="btn" id="pay" onclick="payBill({{tableNum}})">Pay</button>
          </div>
         </form>
        </div>
     {% endfor %}
     </div>
    </div>
  </div>
</div>

<script src="/static/js/pos.js" type="text/javascript"></script>

{% endblock body %}

